<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <title>Admin</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand text-white" th:text="${this_user.getUsername()} + ' with Role: ' + ${this_user.getRole()}">Navbar</a>

    <form class="form-inline">
        <a class="text-light" href="/logout">Logout</a>
    </form>

</nav>

<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
               href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="true">User</a>

        </div>

    </div>

    <div class="col-10 bg-light">
        <div class="tab-content" id="v-pills-tabContent">
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane fade show active" id="v-pills-home"
                 role="tabpanel" aria-labelledby="v-pills-home-tab">

                <h1>Admin panel</h1>


                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>

                </nav>
                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        <div class="card">
                            <div class="card-header">

                                <h3>All users</h3>

                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.getId()}">id_user</td>
                                            <td th:text="${user.getUsername()}">Username_user</td>
                                            <td th:text="${user.getLastName()}">Lastname_user</td>
                                            <td th:text="${user.getAge()}">Age_user</td>
                                            <td th:text="${user.getEmail()}">Email_user</td>
                                            <td th:text="${user.getRole()}">Role_user</td>
                                            <td>


                                                <!---кнопка ред. пользователя--->

                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        th:data-target="${'#editModal' + user.getId()}"
                                                        data-whatever="@mdo">
                                                    Edit
                                                </button>

                                            </td>
                                            <td>

                                                <!-- кнопка удаления пользователя -->

                                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        th:data-target="${'#delete' + user.getId()}">
                                                    Delete
                                                </button>


                                            </td>

                                            <!-- Modal edit -->

                                            <div class="modal fade" th:id="${'editModal'+user.getId()}" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <form th:method="POST"
                                                          th:action="@{/admin/{id}(id=${user.getId()})}"
                                                          th:object="${user}">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel">Edit
                                                                    user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container mt-2 col-sm-8 text-center">

                                                                    <div class="form-group">
                                                                        <label for="exampleInputID"><b>ID</b></label>
                                                                        <input name="id" disabled="true" type="text"
                                                                               th:value="*{id}"
                                                                               class="form-control form-control-sm"
                                                                               id="exampleInputID"
                                                                               aria-describedby="IDHelp"
                                                                               placeholder="Enter ID" minlength="2"
                                                                               maxlength="30" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="username"><b>First name</b></label>
                                                                        <input name="username" type="text" minlength="2"
                                                                               maxlength="30" th:value="*{username}"
                                                                               class="form-control form-control-sm"
                                                                               id="username"
                                                                               placeholder="Enter username" required>

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="lastName"><b>Last name</b></label>
                                                                        <input name="lastName" type="text"
                                                                               th:value="*{lastName}"
                                                                               class="form-control form-control-sm"
                                                                               id="lastName"
                                                                               placeholder="Enter username">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="age"><b>Age</b></label>
                                                                        <input name="age" type="number"
                                                                               th:value="*{age}"
                                                                               class="form-control form-control-sm"
                                                                               id="age" aria-describedby="ageHelp"
                                                                               placeholder="Enter age">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="email"><b>Email</b></label>
                                                                        <input name="email" type="email"
                                                                               th:value="*{email}"
                                                                               class="form-control form-control-sm"
                                                                               id="email" aria-describedby="emailHelp"
                                                                               placeholder="Enter email" required>

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="password"><b>Password</b></label>
                                                                        <input name="password" type="password"
                                                                               class="form-control form-control-sm"
                                                                               id="password"
                                                                               aria-describedby="passwordHelp"
                                                                               placeholder="Enter password">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label><b>Role</b></label>
                                                                        <select multiple class="custom-select" size="2"
                                                                                id="rolesUserModal" th:name="roles"
                                                                                required>
                                                                            <option th:each="role : ${roles}"
                                                                                    th:value="${role.id}">
                                                                                <th:block
                                                                                        th:text="${role.name}"></th:block>
                                                                            </option>
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">Edit
                                                                    </button>
                                                                </div>


                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                            </div>


                                            <!-- Modal Delete -->
                                            <div class="modal fade" th:id="${'delete' + user.getId()}" tabindex="-1"
                                                 role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
                                                 th:object="${user}">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container mt-2 col-sm-8 text-center">
                                                                <form th:method="POST"
                                                                      th:action=@{/admin/delete/{id}(id=${user.getId()})}>
                                                                    <div class="form-group">
                                                                        <label for="idDelete"><b>ID</b></label>
                                                                        <input disabled="true"
                                                                               th:value="${user.getId()}" readonly
                                                                               type="email"
                                                                               class="form-control form-control-sm"
                                                                               id="idDelete"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Enter ID">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="usernameDelete"><b>First
                                                                            name</b></label>
                                                                        <input disabled="true"
                                                                               th:value="${user.getUsername()}" readonly
                                                                               type="text"
                                                                               class="form-control form-control-sm"
                                                                               id="usernameDelete"
                                                                               placeholder="Username">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="lastNameDelete"><b>Last
                                                                            name</b></label>
                                                                        <input disabled="true"
                                                                               th:value="${user.getLastName()}" readonly
                                                                               type="text"
                                                                               class="form-control form-control-sm"
                                                                               id="lastNameDelete"
                                                                               placeholder="Username">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="ageDelete"><b>Age</b></label>
                                                                        <input disabled="true"
                                                                               th:value="${user.getAge()}" readonly
                                                                               type="email"
                                                                               class="form-control form-control-sm"
                                                                               id="ageDelete"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Enter email">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="emailDelete"><b>Email</b></label>
                                                                        <input disabled="true"
                                                                               th:value="${user.getEmail()}" readonly
                                                                               type="email"
                                                                               class="form-control form-control-sm"
                                                                               id="emailDelete"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Enter email">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label><b>Role</b></label>
                                                                        <select multiple class="custom-select" size="2"
                                                                                id="rolesUserDelet" th:name="roles"
                                                                                readonly required>
                                                                            <option th:each="role : ${roles}"
                                                                                    th:value="${role.id}">
                                                                                <th:block
                                                                                        th:text="${role.name}"></th:block>
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            Delete
                                                                        </button>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </tr>
                                        </tbody>
                                    </table>
                                </blockquote>
                            </div>
                        </div>

                    </div>


                    <!--страница добавления User-->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Add new user</h3>
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <div class="container mt-2 col-sm-4 text-center">
                                        <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                                            <div class="form-group">
                                                <label for="usernameAdd"><b>First name</b></label>
                                                <input name="username" type="text" minlength="2" maxlength="30"
                                                       class="form-control form-control-sm" id="usernameAdd"
                                                       placeholder="Enter first name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastNameAdd"><b>Last name</b></label>
                                                <input name="lastName" type="text" class="form-control form-control-sm"
                                                       id="lastNameAdd" placeholder="Enter last name">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1"><b>Age</b></label>
                                                <input name="age" type="number" step="1" min="1" max="200"
                                                       class="form-control form-control-sm" id="exampleInputEmail1"
                                                       aria-describedby="emailHelp" placeholder="Enter age">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2"><b>Email</b></label>
                                                <input name="email" type="email" class="form-control form-control-sm"
                                                       id="exampleInputEmail2" aria-describedby="emailHelp"
                                                       placeholder="Enter email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail3"><b>Password</b></label>
                                                <input name="password" type="password"
                                                       class="form-control form-control-sm" id="exampleInputEmail3"
                                                       aria-describedby="emailHelp" placeholder="Enter password">
                                            </div>
                                            <span><b>Role</b></span>
                                            </br>
                                            <div class="form-group">


                                                <select multiple class="custom-select" size="2" id="rolesUser"
                                                        th:name="roles" required>
                                                    <option th:each="role : ${roles}" th:value="${role.id}">
                                                        <th:block th:text="${role.name}"></th:block>
                                                    </option>
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </form>
                                    </div>


                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--страница User-->

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                <h1>User information-page</h1>

                <div class="card">
                    <div class="card-header">
                        <h3>About user</h3>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row"><p th:text="${this_user.getId()}">VALUE</p></th>
                                    <td><p th:text="${this_user.getUsername()}">VALUE</p></td>
                                    <td><p th:text="${this_user.getLastName()}">VALUE</p></td>
                                    <td><p th:text="${this_user.getAge()}">VALUE</p></td>
                                    <td><p th:text="${this_user.getEmail()}">VALUE</p></td>
                                    <td><p th:text="${this_user.getRole()}">VALUE</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </blockquote>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


</body>
</html>