<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>



    <title>Admin</title>
</head>
<body>

<nav id="adminData" class="navbar navbar-dark bg-dark">



</nav>

<div class="row">
    <div class="col-2">
        <div  class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a  sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
               href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Admin</a>
            <a  class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="true"  onclick="getUserPage()">User</a>


        </div>
<!--        <div sec:authorize="!hasRole('ROLE_ADMIN')" class="nav flex-column nav-pills" id="v-pills-tab-" role="tablist" aria-orientation="vertical">-->
<!--            -->
<!--            <a  class= "nav-link active" id="v-pills-profile-tab-" data-toggle="pill" href="#v-pills-profile-" role="tab"-->
<!--                aria-controls="v-pills-profile" aria-selected="true"  onclick="getUserPage()">User</a>-->


<!--        </div>-->

    </div>

    <div class="col-10 bg-light">
        <div class="tab-content" id="v-pills-tabContent">
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane fade show active" id="v-pills-home"
                 role="tabpanel" aria-labelledby="v-pills-home-tab">

                <h1>Admin panel</h1>


                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>

                </nav>
                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        <div class="card">
                            <div class="card-header">

                                <h3>All users</h3>

                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBodyAdmin"> </tbody>
                                    </table>

                                            <!-- Modal edit -->

                                            <div class="modal fade" id='editModal' tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">

                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel">Edit
                                                                    user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form id="modalEdit">
                                                            <div class="modal-body">
                                                                <div class="container mt-2 col-sm-8 text-center">

                                                                    <div class="form-group">
                                                                        <label for="exampleInputID"><b>ID</b></label>
                                                                        <input name="id" disabled="true" type="text"

                                                                               class="form-control form-control-sm"
                                                                               id="exampleInputID"
                                                                               aria-describedby="IDHelp"
                                                                               placeholder="Enter ID" minlength="2"
                                                                               maxlength="30" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="username"><b>First name</b></label>
                                                                        <input name="username" type="text" minlength="2"
                                                                               maxlength="30"
                                                                               class="form-control form-control-sm"
                                                                               id="username"
                                                                               placeholder="Enter username" required>

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="lastName"><b>Last name</b></label>
                                                                        <input name="lastName" type="text"

                                                                               class="form-control form-control-sm"
                                                                               id="lastName"
                                                                               placeholder="Enter username">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="age"><b>Age</b></label>
                                                                        <input name="age" type="number"

                                                                               class="form-control form-control-sm"
                                                                               id="age" aria-describedby="ageHelp"
                                                                               placeholder="Enter age">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="email"><b>Email</b></label>
                                                                        <input name="email" type="email"

                                                                               class="form-control form-control-sm"
                                                                               id="email" aria-describedby="emailHelp"
                                                                               placeholder="Enter email" required>

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="password"><b>Password</b></label>
                                                                        <input name="password" type="password"
                                                                               class="form-control form-control-sm"
                                                                               id="password"
                                                                               aria-describedby="passwordHelp"
                                                                               placeholder="Enter password">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label><b>Role</b></label>
                                                                        <select id="rolesEdit" multiple class="custom-select" size="2"
                                                                                name="roles" aria-label="size 2 select ">
                                                                            <option value="2">ROLE_ADMIN</option>
                                                                            <option value="1">ROLE_USER</option>
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary" onclick="editUser()">Edit
                                                                    </button>
                                                                </div>
                                                             </form>

                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                            </div>


                                            <!-- Modal Delete -->
                                            <div class="modal fade" id="deleteModal" tabindex="-1"
                                                 role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form class="modal-body col-md text-center"
                                                              id="modalDelete">
                                                        <div class="modal-body">
                                                            <div class="container mt-2 col-sm-8 text-center">

                                                                    <div class="form-group">
                                                                        <label for="idDelete"><b>ID</b></label>
                                                                        <input disabled="true"
                                                                               readonly
                                                                               type="email"
                                                                               class="form-control form-control-sm"
                                                                               id="idDelete"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Enter ID">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="usernameDelete"><b>First
                                                                            name</b></label>
                                                                        <input disabled="true"
                                                                                readonly
                                                                               type="text"
                                                                               class="form-control form-control-sm"
                                                                               id="usernameDelete"
                                                                               placeholder="Username">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="lastNameDelete"><b>Last
                                                                            name</b></label>
                                                                        <input disabled="true"
                                                                                readonly
                                                                               type="text"
                                                                               class="form-control form-control-sm"
                                                                               id="lastNameDelete"
                                                                               placeholder="Username">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="ageDelete"><b>Age</b></label>
                                                                        <input disabled="true"
                                                                               readonly
                                                                               type="email"
                                                                               class="form-control form-control-sm"
                                                                               id="ageDelete"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Enter email">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="emailDelete"><b>Email</b></label>
                                                                        <input disabled="true"
                                                                                readonly
                                                                               type="email"
                                                                               class="form-control form-control-sm"
                                                                               id="emailDelete"
                                                                               aria-describedby="emailHelp"
                                                                               placeholder="Enter email">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label><b>Role</b></label>
                                                                        <select id="rolesDelete" multiple class="custom-select" size="2"
                                                                                name="roles" aria-label="size 2 select example">
                                                                            <option value="1">ROLE_ADMIN</option>
                                                                            <option value="2">ROLE_USER</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-danger" onclick="deleteUser()">
                                                                            Delete
                                                                        </button>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </tr>
                                        </tbody>
                                    </table>
                                </blockquote>
                            </div>
                        </div>

                    </div>


                    <!--страница добавления User-->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Add new user</h3>
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <div class="container mt-2 col-sm-4 text-center">
                                        <form id="newUserForm">
                                            <div class="form-group">
                                                <label for="usernameAdd"><b>First name</b></label>
                                                <input name="username" type="text" minlength="2" maxlength="30"
                                                       class="form-control form-control-sm" id="usernameAdd"
                                                       placeholder="Enter first name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastNameAdd"><b>Last name</b></label>
                                                <input name="lastName" type="text" class="form-control form-control-sm"
                                                       id="lastNameAdd" placeholder="Enter last name">
                                            </div>
                                            <div class="form-group">
                                                <label for="ageNew"><b>Age</b></label>
                                                <input name="age" type="number" step="1" min="1" max="200"
                                                       class="form-control form-control-sm" id="ageNew"
                                                       aria-describedby="emailHelp" placeholder="Enter age">
                                            </div>
                                            <div class="form-group">
                                                <label for="emailNew"><b>Email</b></label>
                                                <input name="email" type="email" class="form-control form-control-sm"
                                                       id="emailNew" aria-describedby="emailHelp"
                                                       placeholder="Enter email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="passwordNew"><b>Password</b></label>
                                                <input name="password" type="password"
                                                       class="form-control form-control-sm" id="passwordNew"
                                                       aria-describedby="emailHelp" placeholder="Enter password">
                                            </div>
                                            <span><b>Role</b></span>
                                            </br>
                                            <div class="form-group">

                                                <select id="rolesNew" multiple class="custom-select" size="2"
                                                        name="roles" aria-label="size 2 select example">
                                                    <option value="2">ROLE_ADMIN</option>
                                                    <option value="1">ROLE_USER</option>
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </form>
                                    </div>


                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--страница User-->

            <div class="tab-pane fade show" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                <h1>User information-page</h1>

                <div class="card">
                    <div class="card-header">
                        <h3>About user</h3>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody id="userTableBody">

<!--                                <tr>-->
<!--                                    <th scope="row"><p th:text="${this_user.getId()}">VALUE</p></th>-->
<!--                                    <td><p th:text="${this_user.getUsername()}">VALUE</p></td>-->
<!--                                    <td><p th:text="${this_user.getLastName()}">VALUE</p></td>-->
<!--                                    <td><p th:text="${this_user.getAge()}">VALUE</p></td>-->
<!--                                    <td><p th:text="${this_user.getEmail()}">VALUE</p></td>-->
<!--                                    <td><p th:text="${this_user.getRole()}">VALUE</p></td>-->
<!--                                </tr>-->
                                </tbody>
                            </table>
                        </blockquote>
                    </div>
                </div>
               </div>


        </div>
    </div>
</div>

 <script type="text/javascript" src="/js/admin.js"></script>
</body>
</html>